<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>577942676828-qrt11gi4akh9m66d6eg6g3pjq493so6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577942676828-qrt11gi4akh9m66d6eg6g3pjq493so6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCzXPpu55cnWOKLcYcLzEThUBepuk-qaOM</string>
	<key>GCM_SENDER_ID</key>
	<string>577942676828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.hypertech.mobile.NotifcationSample</string>
	<key>PROJECT_ID</key>
	<string>fleet-toolbox-233602</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-toolbox-233602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577942676828:ios:de02fb97e938866d</string>
	<key>DATABASE_URL</key>
	<string>https://fleet-toolbox-233602.firebaseio.com</string>
</dict>
</plist>